<template>
  <div class="<%= data.lowerName %>">
    {{ <%= data.name %> }}
  </div>
</template>

<script>
  export default {
    name: "<%= data.name %>",
    data() {
      return {
        msg: "hello world",
      };
    },
    created() {},
    mounted() {},
    computed: {},
    methods: {},
  };
</script>

<style>
  .<%= data.lowerName %> {
  }
</style>
